@charset "UTF-8";

/* Configurações da página*/
    body{
        background-color: white;
        color: rgba(0,0,0,1);
    }

    div#interface {
        width: 900px;
        background-color: white;
        margin: -20px auto 10px auto;
        box-shadow: 0px 0px 10px black;
        padding: 10px 10px 10px 10px;
    }

    header#cabecalho h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30pt;
        color: #606060;
        text-shadow: 1px 1px 1px rgba(0,0,0,.6);
        padding: 0px;
        margin-bottom: 0px;
    }

    header#cabecalho h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15pt;
        color: #888888;
        padding: 0px;
        margin-top: 0px;
    }

    header#cabecalho h3{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 10pt;
    }
    
    header#cabecalho{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30pt;
        color: #606060;
        text-shadow: 1px 1px 1px rgba(0,0,0,.6);
        padding: 0px;
        margin-bottom: 0px;
    }

    header#cabecalho img#icone{
        position: absolute;
        left: 1300px;
        top: 20px;
        width: auto;
    }

    p {
        text-align: justify;
        text-indent: 0px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 70px;
    }

    footer#rodape{
        clear: both;
        color: black;
        padding-top: -20px;
        margin-top: 10px;
    }

    footer#rodape p{
        text-align: center;
    }

    a{
        text-decoration: none;
        color: #606060;
    }

    a:hover {
        text-decoration: underline;
    }

/* Configurações do jogo*/

    div#estruturaDoJogo{
        background-color: white;
        border: 2px solid black;
        padding-top: 150px;
        margin-top: 10px;
        position: relative;
    }

    div#play img#dino {
        position: relative;
        width: 100px;
        background-color: none;
        left: 0;
        bottom: -20px;   
    }

    .jump{
        animation: dino 500ms linear;
    }

    @keyframes dino{
        0%{bottom: -17px;}
        15%{bottom: 40px;}
        30%{bottom: 70px;}
        50%{bottom: 100px;}
        70%{bottom: 70px;}
        90%{bottom: 40px;}
        100%{bottom: -17px;}
    }    
    
    div#play img#cacto {
        position: relative;
        width: 35px;
        height: 50px;
        background-color: none;
        left: 700px;
        bottom: -5px;
        animation: cacto 1s infinite linear;
    }

@keyframes cacto{
    0%{left: 780px;}
    100%{left: -100px;}
    }

